<h1>您可以拖动照片以栽剪满意的头像</h1>
<div class="templates-avatar-editor">

</div>
<div class="avatar-editor-ctrl">
    <span>
        <%= link_to '保存', 'javascript:void(0)', :id => 'save_avatar', :class => 'ctrl-button ctrl-button-save-26', :url => url_for( :action => :photoeditor ) %>
    </span>
    <span>
        <%= link_to '取消', 'javascript:void(0)', :class => 'ctrl-button ctrl-button-save-26', :id => 'cancel_save_avatar' %>
    </span>
</div>
