<%= pagetitle '活动邀请' %>

<% add_stylesheet('notifications') %>
<% add_javascript('notifications.comment') %>

<table cellpadding="" cellspacing="1" class="global-controls">
    <tr>
        <td width="5%" align="center"><input type="checkbox" id="check-all" /></td>
        <td width="5%"><label for="check-all">全选</label></td>
        <td id="delete-btn"></td>
        <td width="100%"></td>
    </tr>
</table>
<div id="comment-frame"></div>
