<%= pagetitle '密码重置' %>
<div class="user-details-show">
  <h1><%= %Q{密码重置} %></h1>
  <div class="base-frame info">
    <div><font color="red"><%if !flash[:notice].nil?%><%=flash[:notice]%><%end%></font></div>
    <div class="container">
      <ul>
        <li>旧密码</li>
        <li>新密码</li>
        <li>确认新密码</li>
      </ul>
    </div>

  </div>
</div>
